.button {
  @include font ($size: 1.6rem, $height: 1.9rem, $weight: bold);
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 20px;
  letter-spacing: 0.05em;
  @extend %transition;
  &_colored {
    background: $color-primary;
    color: $color-light;
    border: 1px solid $color-primary;
    &:hover {
      background: $color-additional;
      border-color: $color-additional;
    }
  }
}