.ico {
  cursor: pointer;
  display: inline-block;
}

.ico__right {
  padding-left: 24px;
  @include media-mobile {
    padding-left: 15px;
  }
}

.ico__left {
  transform: rotate(180deg);
}

.plus {
  margin-left: auto;
}