$color-body: #FEF8F5;
$color-primary: #EE4D47;
$color-light: #FFFFFF;
$color-additional: #F06A5B;
$color-text: #402B2B;
$color-question: #FCDDD4;
$color-question-body: #FDEDE8;
$color-backlight: #F8CDC8;


$content-width: 1120px;
$tablet-big-width: 1024px;
$tablet-width: 824px;
$mobile-big-width: 574px;
$mobile-small-width: 320px;