%font-prim {
  font-family: 'DM Serif Display', Verdana, sans-serif;
}

%font-add {
  font-family: 'Rubik', Verdana, sans-serif;
}

%transition {
  transition: all .3s ease-out;
}

%flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}