.apply {
  padding-top: 20px;
  @include media-tablet {
    padding-top: 80px;
  }
}

.apply__wrapper {
  @extend %flex-container;
}

.apply__content {
  width: 41%;
  margin-top: -40px;
  @include media-bigtablet {
    width: 45%;
  }
  @include media-tablet {
    width: 55%;
  }
}

.apply__title {
  color: $color-primary;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0;
}

.apply__description {
  font-weight: 300;
}

.apply__image {
  width: 55%;
  margin-left: -95px;
  @include media-tablet {
    width: 53%;
  }
}