.navigation {
  display: flex;
  align-items: center;
  padding-top: 5px;
  @include font($size: 1.6rem, $height: 1.9rem, $weight:bold);
  @include media-tablet {
    flex-direction: column;
    padding-top: 50px;
  }
}

.navigation__link {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  list-style: none;
  padding: 0 50px;
  cursor: pointer;
  a {
    color: $color-light;
    text-decoration: none;
    &:hover {
      color: $color-primary;
    }
  }

  @include media-laptop {
    padding: 0 35px;
    &:last-child {
      padding-right: 0;
    }
  }
  @include media-bigtablet {
    padding: 0 25px;
  }
  @include media-tablet {
    padding: 0 0 30px 0;
    a {
      color: $color-primary;
      &:hover {
        color: $color-additional;
      }
    }
  }
}