.navigation {
  display: flex;
  align-items: center;
  padding-top: 5px;
  @include font($size: 1.6rem, $height: 1.9rem, $weight:bold);

}

.navigation__link {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $color-light;
  list-style: none;
  padding: 0 50px;
  cursor: pointer;
  &:hover {
    color: $color-primary;
  }

}