.header__wrapper {
  @extend %flex-container;
}

.header__logo-line  {
  @extend %flex-container;
  @include media-tablet {
    width: 100%;
    padding-top: 10px;
  }
  @include media-mobile {
    flex-grow: 1;
    position: relative;
  }
}

.header__navigation_closed {
  @include media-tablet {
    display: none;
  }
}

.header__navigation_opened {
  @include media-tablet {
    display: block;
  }
}